/* common start  */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.c_padding {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* common end */
/* header start  */
header {
  background-color: #ffcc00;
  padding: 20px 0;
}
.menu ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #000000 !important;
  padding: 0 50px !important;
}
.menu ul li:last-child a {
  padding-right: 0px !important;
}
.menu ul li a:hover {
  color: white !important;
}
/* header end */
/* slider start  */
.slider {
  background-color: #ffcc00;
  padding-bottom: 100px;
}
.c_ind {
  bottom: -80px;
}
.c_ind .active {
  opacity: 1;
}
.c_ind [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.s_text {
  margin-top: 50px;
}
.s_text h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}
.s_text h2 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
.s_text p {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.s_icon ul li {
  margin-right: 35px !important;
}
.s_icon ul li:hover {
  transform: scale(0.8);
}
.s_icon ul li i {
  font-size: 47px;
  color: #000000;
  transition: 0.33s;
}
.s_icon ul li i:hover {
  color: aliceblue;
}
/* slider end */
/* feature start */
.feature {
  padding-top: 100px;
  padding-bottom: 120px;
}
.c_h1 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}
.c_p {
  line-height: 28px;
  font-size: 20px;
  color: #666666;
}
.f_item {
  margin-top: 70px;
}
.f_icon i {
  margin-top: 3px;
  font-size: 50px;
  color: #000000;
  transition: 0.3s;
}
.f_icon i:hover {
  transform: scale(0.8);
}
.f_text h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}
.f_text p {
  letter-spacing: 1px;
}
/* feature end */
/* contact start */
.contact {
  background-color: #000000;
}
.yellow {
  color: #ffcc00;
}
.c_form {
  margin-top: 35px;
  margin-bottom: 70px;
}
.c_input {
  height: 55px;
  padding: 15px 25px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.c_submit {
  width: 100%;
  height: 55px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffcc00;
  text-transform: uppercase;
}
.c_submit:hover {
  background-color: aliceblue;
}
.c_icon li {
  margin-right: 35px !important;
}
.c_icon li:last-child {
  margin-right: 0px !important;
}
.c_icon li i {
  color: #ffcc00;
  font-size: 45px;
  transition: 0.3s;
}
.c_icon li i:hover {
  color: aliceblue;
}
/* contact end */
/* footer start  */

footer {
  background-color: #000000;
  padding-bottom: 120px;
}
.f_1 {
  color: aliceblue;
}
.f_2 p a {
  color: aliceblue;
  text-decoration: none;
}
/* footer end */
